<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="index.php" method="post">
    <div>
    <label>Имя
    <input type="text" name="order[name]">
    </label>
    </div>
    <div>
        <label>Телефон
        <input type="text" name="order[tel]">
    </label>
    </div>
    <div>
    <label>Страна
    <select name="order[country]">
        <option value="russian">Россия</option>
        <option value="german">Германия</option>
    </select>
    </label>
    </div>
    <div>
        <label>Адрес
            <input type="text" name="order[address]">
        </label>
    </div>
    <input type="submit" value="Отправить">
</form>
<h1><a href="orders">Все заказы</a></h1>
</body>
</html>